{% include 'header.twig' %}
<h1><a href="{{urlFor('home')}}">&#9664; {{scribbit}}</a></h1>
<p>&nbsp;</p>
<input type="hidden" name="scribbit" id="scribbit" value="{{scribbit}}">
<input type="hidden" name="bit" id="bit" value="">
<div class="row no-gutter">
    <div class="col-sm-12 col-lg-6">
        <div id="bit-editor">Write some **markdown** here...</div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div id="bit-preview"></div>
    </div>
</div>
<div class="row">
    <div class="text-center editor-buttons">
        <button class="btn btn-success btn-xl btn-circle save">&#10004;</button>
        <button class="btn btn-default btn-xl btn-circle cancel">&#10006;</button>
        <button class="btn btn-primary btn-xl btn-circle help" data-toggle="modal" data-target="#markdownModal"><b>?</b></button>
    </div>
</div>

{% for date, bit in bits %}
<div class="panel panel-default custom" data-bit="{{bit.name}}" data-scribbit="{{scribbit}}">
    <div class="panel-heading custom">
        <h3 class="pull-left">{{date}}</h3>
        <div class="btn-group pull-right bit" role="group">
            <a href="#" class="btn btn-default btn-lg edit" title="edit">&#9998;</a>
            <a href="{{urlFor('bit-download', {'scribbit': scribbit, 'bit': bit.name})}}" class="btn btn-default btn-lg download" title="download">&#11015;</a>
            <button class="btn btn-default btn-lg delete" title="delete">&#10006;</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body markdown" data-source="{{bit.contents}}"></div>
</div>
{% endfor %}
{% include 'modals.twig' %}
{% include 'footer.twig' %}
